#section1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#section1 div{
    width: 27%;
    margin-right: 10%;
}

#section1 div h1{
    color: #009688;
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 8%;
}

#section1 div p{
    color: #555555;
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 8%;
}

#section1 img{
    width: 30%;
}

#section2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F6F6F6;
    margin-top: 5%;
    padding: 5%;
}

#section2 .blog-content{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-right: 8%;
    margin-bottom: 8%;
}

h3{
    color: #FF4081;
    font-weight: 500;
    font-size: 1.2em;
    margin: 5% 0 5% 0;
}

@media only screen and (max-width: 480px){

    #section1 div{
        width: 50%;
    }

    #section1 div h1{
        font-size: 1.2em;
    }

    #section1 div p{
        font-size: 0.8em;
    }

    #section1 div button{
        padding: 3px;
        width: 100%;
        font-size: 0.6em;
    }

    #section2{
       
    }

    #section2 .blog-content{
        width: 40%;
        margin: 5% 5% 5% 5%;
    }

    #section2 .card img{
        width: 100%;
    }

    h3{
        font-size: 0.8em;
        text-align: center;
    }

    #section2 .blog-content p{
        font-size: 0.5em;
        text-align: center;
    }
        
}