@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

li{
    list-style: none;
}

a{
    color: #FDFDFD;
    text-decoration: none;
    font-size: 80%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2E948A;
    padding: 1%;
}

header img{
    width: 10%;
}

header nav{
    display: flex;
}

header nav li{
    margin-right: 10px;
}

footer{
    background-color: #2E948A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
}

footer img{
    width: 15%;
}

footer nav li{
    margin-bottom: 10px;
}

footer .button-container{
    display: flex;
    flex-direction: column;
    width: 15%;
}

footer .button-container button{
    width: 100%;
    background-color: #2E948A;
    color: #FDFDFD;
    border: 1px solid #FDFDFD;
    border-radius: 20px;
    margin-bottom: 5px;
    padding: 5px;

}


@media only screen and (max-width: 480px){
    a{
        font-size: 10%;
    }

    header a img{
        width: 30%;
    }

    footer{
        margin-top: 10%;
    }

    footer a img{
        width: 30%;
    }

    footer nav li{
        margin-bottom: 1px;
    }

    footer .button-container{
        width: 40%;
    }

    footer .button-container button{
        width: 70%;
        padding: 1px;
        font-size: 0.5em;
    }
}